# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Dados sensíveis / saídas
*.pem
*.key
*.csv
!data/sample/*.csv

# Python
__pycache__/
*.pyc
.venv/
venv/
.ipynb_checkpoints/

# Saídas do Glue / logs locais
tmp/
logs/
